section#forum-content{
    display: block;
    background-image: url('/img/space-back.jpg');
    min-height: 100vh;
}

section#forum-content .title{
    color:crimson;
}

div.thread{
    display: inline-block;
    background-color: black;
    color:white;
    margin: 10px;
    padding: 0 10px 0;
}

div.thread a{
    color:red;
}

div.thread a:hover{
    color:silver;
}

div.thread img{
    display: block;
    width: 150px;
    margin: 5px auto 5px;
}

div#forumform form{
    display: inline-block;
    background-color: black;
    color:silver;
    margin: auto;
    border-radius: 20px;
    border:rgb(94, 94, 94) solid 2px;
    padding:10px;
}
